@-webkit-keyframes astro-pulse {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  10% {
	-moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  30% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  50% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  70% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  90% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}


@-moz-keyframes astro-pulse {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  10% {
	-moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  30% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  50% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  70% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  90% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}


@-o-keyframes astro-pulse {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  10% {
	-moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  30% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  50% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  70% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  90% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@-ms-keyframes astro-pulse {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  10% {
	-moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  30% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  50% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  70% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  90% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes astro-pulse {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  10% {
	-moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  30% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  50% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  70% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  90% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}



/*animation two*/

@-webkit-keyframes astro-drop {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  
  25% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  50% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }  
  
  75% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}


@-moz-keyframes astro-drop {
   0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  
  25% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  50% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }  
  
  75% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}


@-o-keyframes astro-drop {
   0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  
  25% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  50% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }  
  
  75% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@-ms-keyframes astro-drop {
   0% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  
  25% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  50% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }  
  
  75% {
    -moz-transform: scaleX(0.85) scaleY(0.85);
    -webkit-transform:scaleX(0.85) scaleY(0.85);
    -o-transform: scaleX(0.85) scaleY(0.85);
    -ms-transform: scaleX(0.85) scaleY(0.85);
    transform: scaleX(0.85) scaleY(0.85);
  }
  
  100% {
     -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}





